# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Logs
*.log
uvicorn.log

# IDE
.vscode
.idea
.DS_Store
